.aboutme-tittle,
.aboutme-text {
    padding: 0;
    margin: 0;
}

.aboutme-image {
    border-left: 10px solid $accent;
    width: 200px;

}

.aboutme-tittle {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 500;
}

.aboutme-text {
    color: $grey;
}

