.info {
    text-align: center;
    .info__tittle {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .info__text {
        font-size: 1rem;
        color: $grey;
    }
}
.menu {
    background: $dark-page;
    
    .menu__list {
        margin-top: 2rem;
        height: 6rem;
        color: #FFF;
    }
    
    .menu__list-item {
        height: 5rem;
    }
    
    .menu__list-icon {
        color: $accent;
    }
}

.aboutme {

    .aboutme-tittle {
        padding: 0;
        margin: 0;
    }
    
    .aboutme-image {
        border-left: 10px solid $accent;
        width: 200px;
    
    }
    
    .aboutme-tittle {
        font-size: 1.5rem;
        color: #FFF;
        font-weight: 500;
    }
    
    .aboutme-text {
        color: $grey;
    }
}

.contacts {

    .contacts-list {
        list-style: none;
    }
    
    .contacts-tittle {
        font-size: 22px;
        color: $white;
        margin: 0;
    }

    .contacts-text {
        color: $grey;
        margin: 0;
    }
}

.carousel {
    max-width: 500px;
    margin: 0 auto;

    .experience-carousel{
    
        padding: 0;
        margin: 0;
    
        .experience-imagem {
            width: 250px;
        }
        
        .experience-tittle {
            font-size: 1rem;
            line-height: normal;
            font-weight: 700;
        }
    
        .experience-item {
            line-height: 2rem;
        }
    }

    @media screen and (min-width: 768px) {
        max-width: 700px;
    }
}

.footer {

    .footer-tittle {
        font-size: 1rem;
        color: $grey;
        text-align: center;
    }

    .footer-tittle strong {
        color: $accent;
    }

    @media screen and (min-width: 414px) {
        .footer-tittle {
            font-size: 13px;
        }
    }
}


