.menu {
    background: $dark-page;

    .my-menu-link {

        color: white
        
    }
}

.box1 {

    text-align: center;
    
    h2 {
        color: $white;
        font-size: 1.5rem;
        margin: 0;
    }

    p {
        color: $grey;
    }

    img {
        position: absolute;
        width: 250px;
        top: 70px;
        right: 80px;
    }

    @media screen and (min-width: 768px) {

        .inner {
            padding-left: 2rem;
        }

        h2 {
            font-size: 2rem;
            width: 400px;
        }

        p {
            font-size: 1rem;
        }

        img {
            right: 50px;
        }

    }

    @media screen and (min-width: 1024px) {

        padding: 1.5rem 2rem;

        h2 {
            font-size: 2.5rem;
            width: 500px;
        }

        p {
            color: $grey;
            font-size: 1.2rem;
            width: 500px;
        }

        img {
            width: 350px;
        }

        .info-btn {
            width: 500px;

            .btn-fixed-width {
                width: 200px;
                font-size: 18px;
                margin-right: 25px;
            }
        }
    } 
}


.aboutme {

    .aboutme-tittle {
        padding: 0;
        margin: 0;
    }
    
    .aboutme-image {
        border-left: 10px solid $accent;
        width: 200px;
    
    }
    
    .aboutme-tittle {
        font-size: 1.5rem;
        color: #FFF;
        font-weight: 500;
    }
    
    .aboutme-text {
        color: $grey;
    }
}

.contacts {

    .contacts-list {
        list-style: none;
    }
    
    .contacts-tittle {
        font-size: 22px;
        color: $white;
        margin: 0;
    }

    .contacts-text {
        color: $grey;
        margin: 0;
    }
}

.carousel {
    max-width: 500px;
    margin: 0 auto;

    .experience-carousel{
    
        padding: 0;
        margin: 0;
    
        .experience-imagem {
            width: 250px;
        }
        
        .experience-tittle {
            font-size: 1rem;
            line-height: normal;
            font-weight: 700;
            text-align: center;
        }
    
        .experience-item {
            line-height: 2rem;
        }

    }

    @media screen and (min-width: 768px) {
        max-width: 700px;
    }
}

.fit {
    overflow: hidden;
}

.footer {

    .footer-tittle {
        font-size: 1rem;
        color: $grey;
        text-align: center;
        margin: 0;
    }

    .footer-tittle strong {
        color: $accent;
    }

    @media screen and (max-width: 414px) {
        .footer-tittle {
            font-size: 13px;
        }
    }
}


