.menu {
    background: $dark-page;
    
    .menu__list {
        margin-top: 2rem;
        height: 6rem;
        color: #FFF;
    }
    
    .menu__list-item {
        height: 5rem;
    }
    
    .menu__list-icon {
        color: $accent;
    }
}

